.App{
  display:flex;
  justify-content: center;
  background-color: black;
}
.morgue {
  width:100vh;
  /* height: fit-content; */
}

/* @keyframes example {
  from {opacity: 100%;}
  to {opacity: 0%;}
} */

.nextpic{
  position:fixed;
}
.story{
  position:fixed;
  color:white;
  top:30%;
}


@media (max-width: 1250px) {
  /* … */
  .morgue {
    max-width:500px;
    /* height: fit-content; */
  }
}