.App{
  display:flex;
  justify-content: center;
  background-color: black;
}
.morgue {
  width:fit-content;
  height: fit-content;
}

/* @keyframes example {
  from {opacity: 100%;}
  to {opacity: 0%;}
} */

.nextpic{
  position:fixed;
}
.story{
  position:fixed;
  color:white;
  top:30%;
}