.App{
  display:flex;
  justify-content: center;
  background-color: black;
  height:100vh
}
.morgue {
  /* width:100vw; */
  height: 100vh;

}

/* @keyframes example {
  from {opacity: 100%;}
  to {opacity: 0%;}
} */

.nextpic{
  position:fixed;
}
.story{
  text-shadow:2px 2px 8px #000;
  text-align: center;
  width:500px;
  position:fixed;
  color:white;
  line-break: normal;
  bottom:30%;
  transition:
  opacity 0.5s,
}

.story:hover{

    opacity: 0;
}

.image-container{
  display:flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1250px) {
  /* … */
  .story{
    width:70%;
  }
  .morgue {
    width:100vw;
    height:fit-content;  
  }
  .image-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
  }
}

.swag{
  position: absolute;
  top:20%;
  width:400px;
  height:400px;
  /* background-color: red; */
  /* display: flex;
  justify-content: center; */
  

}
.swag-card{
  position: absolute; 
  bottom: 30px; 
  left: 80px;

width:50%;
}

.swag-halo{
  position: absolute; 
  bottom: 180px; 
  left: 95px;
  width:50%;
}
.swag-blood{
  position: absolute; 
  bottom: -90px; 
  width:90%;

}